
<html >
<head>
    
    <title><%=title%></title>
<style>
    body{
        text-align: center;
    }
</style>
</head>
<body>
    <%-include('header')%>
    <h1>This is a web app Social Media</h1>

   


</body>
</html>