
<head>
<style>
    body{
        text-align: center;

    }
</style>
</head>
<body>
    
    <h1>the page belongs to </h1>
    <h1><%=email%></h1>

    <form action="/user/signout/" method="post"><button type="submit">sign out</button></form>


</body>
</html>