<%-include('header')%>
   

<body>
    <%-include('_flash')-%>
    <h1>Sign in form</h1>
    <form action="/user/profile" method="post">

        <input type="email" required name="email" placeholder="email">
        <input type="password" required name="password" placeholder="password">
        <!-- <input type="text" required name="name" placeholder="name"> -->
        <input type="submit">

    </form>

    <p><a href="/user/auth/google">Sign in / Sign in with Google</a></p>
</body>
