<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    
    <form action="/user/signup" ><button type="submit">sign up</button></form>
    <form action="/user/signin" ><button type="submit">sign in</button></form>
    

</body>
</html>